.container {
    width: max-content;
margin: auto;
  }
  
  .books-container {
    display: flex;
    /*  flex-wrap: wrap; This allows the items to wrap to the next line if they don't fit in one line */

    list-style-type: none; /* Remove default list styling */
  
  
    
  }
  
  .book-container {
   
    margin: 20px; /* Space between items */
    
  }
  
  
  
  .cover {
    width: 250px;
    height: 350px; /* Maintain the aspect ratio of the image */
    margin: 10px; /* Space between image and text */
  }
  
  p {
    margin: 0;
    text-align: center;
    width:250px;
    margin: 10px;
  }
  li{
    align-items: center;
  }
  .book {
    cursor: pointer;
  }
  h2{
    text-align: center;
  }
  